@model WorldMap.Models.ContinentViewModels.ContinentDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<div className="mapArea">
    <img src="~/images/europe.gif" alt="" useMap="#Map" />
    <map name="Map" id="Map">
    @foreach (var country in Model.Continent.Countries)
    {
        <area alt="" title="@country.CountryId" href="#" shape="poly" coords=@country.Coordinates  />
    }
    </map>
</div>

@section Scripts
{
    <script type="text/javascript">
        var countries = @Html.Raw(Json.Serialize(Model.Countries, new JsonSerializerSettings(){ReferenceLoopHandling = ReferenceLoopHandling.Ignore}))
        console.log(countries);
        $("#Map").click((event) => {
            console.log(event);
        });
    </script>
}

