@model WorldMap.Models.ContinentViewModels.ContinentDetailViewModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <h1>Find: <span class="answer"></span></h1>
    <button type="button" class="submit">Submit Stats</button>
</div>
<div className="mapArea">
    <img src="~/images/europe.gif" alt="" useMap="#Map" />
    <map name="Map" id="Map">
    @foreach (var country in Model.Continent.Countries)
    {
        <area alt="" title="@country.CountryId" href="#" shape="poly" coords=@country.Coordinates  />
    }
    </map>
</div>

@section Scripts
{
    <script type="text/javascript">
        const GamePlay = (function () {
            this.user = @Html.Raw(
                Json.Serialize(Model.UserId, new JsonSerializerSettings(){ReferenceLoopHandling = ReferenceLoopHandling.Ignore})
            );
            this.countries = @Html.Raw(
                Json.Serialize(Model.Countries, new JsonSerializerSettings(){ReferenceLoopHandling = ReferenceLoopHandling.Ignore})
            );
            this.subRegions = @Html.Raw(
                Json.Serialize(Model.SubRegions, new JsonSerializerSettings(){ReferenceLoopHandling = ReferenceLoopHandling.Ignore})
                );
            return this;
        })()
    </script>
    <script type="text/javascript" src="~/js/app.js"></script>
}

