@model IEnumerable<WorldMap.Models.Continent>

@{
    ViewData["Title"] = "Where's that country?";
}

<h2>Choose a Continent to test</h2>
<hr>

@foreach (var item in Model) {
    <div><a asp-action="Details" asp-route-id="@item.ContinentId">@Html.DisplayFor(modelItem => item.Name)</a></div>
}

