body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.canvas-holder {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
}

.canvas-holder div {
    flex: 1;
    width: 32%;
}
.canvas-holder h3 {
    text-align: center;
}

@media (max-width: 780px) {
    .canvas-holder div {
        width: 50%;
    }
}